*{
    margin:0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
     background-color: rgb(23, 1, 44);
}
.nav{
    display:flex;
    justify-content:space-between;
    padding-top:1rem;
    border-bottom:0.1px solid rgba(128, 128, 128, 0.292);
    padding-bottom: 1.5rem;
   
}
.nav-menu{
    display:flex;
    gap:1.5rem;
    color:#ffffff;
    margin-top:1rem;
}
.nav-menu li:hover{
    background: gray;
    padding:0.3rem;
    border-radius: 1rem;
}
#big-text{
    color:#ffffff;
    font-size:2.5em;
}
.big-color-text{
    background:linear-gradient(180deg, #8a5cff,rgb(245, 2, 225),yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav-button{
    color:#ffffff;
    font-size:1rem;
    padding:0 0.8rem;
    border:none;
    background: linear-gradient(45deg, yellow,rgb(247, 5, 174), #8a5cff);
    border-radius:1.5rem;
    height:auto;
    margin-top:1rem;
}
.nav-button:hover{
     background:linear-gradient(180deg, #8a5cff,rgb(245, 2, 225),yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-button img{
    background: none;
}
.new{
    position: absolute;
    top:1rem;
    right: 2.5rem;
    padding:0 5px;
    background-color: rgb(3, 243, 3);
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(60, 194, 60, 0.555);
}
.main-banner{
background: url(./B13-A02-TechWave/assets/hero-bg.png);
padding-top:5rem;
background-repeat: no-repeat;
align-items:center;
justify-items:center;
display: flex;
background-position: center;
background-size: cover;
}
.banner-image{
   align-items: center;
   margin-top: rem;
   margin-bottom:17rem;
   background: url(./B13-A02-TechWave/assets/hero-circle.png);
   background-repeat: no-repeat;
   width:300px;
   height: 300px;;
 align-items:center;
justify-items:center;
display: flex;
background-position: center;
background-size: cover;
animation: mic 10s infinite;

} 
@keyframes mic{
form{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
}


.banner-texts{
    justify-items: center;
    position:absolute;
    top:500px;
    right:400px;
}
.banner-texts h1{
    font-size: 2.5rem;
    color:#ffffff;
}
.banner-texts p{
    color:rgb(172, 164, 164);
}
.banner-button{
    margin-top: 1rem;
}
.button1:hover{
     background:linear-gradient(180deg, #8a5cff,rgb(245, 2, 225),yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: navy;
}
.button1{
    background: linear-gradient(15deg, yellow,rgb(247, 5, 174), #8a5cff);
    border: none;
    font-size:1rem;
    color:#ffffff;
    padding:0.4rem 1rem;
    border-radius:1.4rem;
}
.button2{
    color:green;
    font-size:1rem;
    border:1px solid green;
     padding:0.4rem 1rem;
    border-radius:1.4rem;
}
.button1 img{
    background: none;
}
.podcast-texts{
    text-align: center;
    margin-bottom: 4rem;
}
.podcast-texts h1{
    color:#ffffff;
    word-spacing:2px;
}
.podcast-texts p{
    color:rgb(166, 162, 162);
    line-height: 1.5rem;
    line-break: none;
}
.text{
    margin-top: 1rem;
}
.rating{
    
    display: flex;
    padding-top: 3rem;
    border-top: 0.1px solid rgb(44, 42, 42);
}
.rating{
    text-align: center;
    margin:0 10rem;
    padding-bottom: 3rem;
}
.rating h1{
    color:rgb(104, 207, 104);
    font-weight: 900;
    word-spacing: 2rem;
}
.rating img{
    width:25px;
}
.rating p{
color:gray;
margin-top: 1rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 210px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    align-content: center;
    justify-content: center;
    color:#ffffff;
}
.card-1{
    grid-column: span 1;
    grid-row: span 2;
    background-color:rgba(78, 78, 139, 0.313);
    border-radius: 1rem;
    padding:1rem;
}
.card-2{
    grid-column: span 2 ;
    grid-row: span 1;
    background-color: rgba(78, 78, 139, 0.313);
    border-radius: 1rem;
    padding:1rem;

}
.card-4{
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgba(78, 78, 139, 0.313);
    border-radius: 1rem;
    padding:1rem;

}
.grid p{
    color:gray;
}
.grid-main-text{
    justify-items: center;
    color:#ffffff;
}
.grid-main{
    background-color: rgba(53, 53, 166, 0.158);
    padding:3rem 0;
}
.grid-main h2{
    padding-bottom: 1rem;
}
.main-texts{
    text-align: center;
    padding-top: 3rem;
    font-size: 2em;
    color:#ffffff;
}
.videos{
    display:flex;
    justify-items: center;
    margin-top: 1rem;
     color:#ffffff;
     gap:0.5rem;
     margin: 0  9rem;
}
.box{
  background-color: rgba(78, 78, 139, 0.313) ;
  border-radius: 1rem;
  width: 260px;
  padding:1rem;
}
.min{
    display:inline-flex;
    color: rgb(3, 243, 3);
}
.host-section h2{
    text-align: center;
    color:#ffffff;
    margin-top: 2rem;
    font-size:2.2rem;
}
.host{
    display: flex;
    background-color: rgba(25, 25, 119, 0.47) ;
    margin:2rem 10rem;
    padding:2rem;
    border-radius: 2rem;
}
.host-container{
    display: block;
}
.host-texts h3{
    color:#ffffff;
    margin-left: 2rem;
    padding-top: 1.3rem;
    font-size: x-large;
    
}
.host-texts p{
    color:rgb(159, 154, 154);
    margin-left: 2.3rem;
    padding-top: 1rem;
}
.icons{
    display:inline-flex;
    margin-top:1rem;
    gap:1rem;
}
.icons img{
    border:1px solid gray;
    padding:.4rem;
    border-radius: 50%;
}
.footer-container{
    background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
    background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
    padding-top: 5rem;
    text-align: center;
    color:#ffffff;
    padding-bottom: 5.3rem;
}
.footer-big-text{
    font-size:3.5em;
    padding-bottom: 1rem;
}
.footer-manu{
    display:inline-flex;
    gap:2rem;
    color:gray;
    margin-right:2.5rem;
    padding-bottom: 2rem;
}
.footer-icon{
    display: flex;
    gap:0.5rem;
}
.last-text{
    color:gray;
}
